<f:layout name="Default" />

<f:section name="Content">
    <f:section name="Title">Rule-Engine</f:section>
    <f:form action="index">
        <article>
            <p id="status">File API & FileReader API not supported</p>
        </article>
        <p><a href="/logs">Logs</a></p>
        <p><a href="/rules">Regeln</a></p>
        <div class="row">
            <div class="input-group form-group mb-3">
                <span class="input-group-text col-1">Ruleset</span>
                <f:form.select id="rulesets" name="ruleset" options="{rulesets}" class="form-control" optionValueField="id" optionLabelField="name" prependOptionLabel="Ruleset auswählen..." prependOptionValue="0" />
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text col-1">Rule</span>
                <f:form.textarea name="rule" class="form-control" rows="5" value="{rule}" id="ruleHolder" placeholder="Drag & Drop file or start writing..." />
            </div>
        </div>
        <f:if condition="{ruleCheckOutput}">
            <div class="row mb-3">
                <span>{ruleCheckOutput}</span>
            </div>
        </f:if>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text col-1">Data</span>
                <f:form.textarea name="data" class="form-control" rows="5" value="{data}" id="dataHolder" placeholder="Drag & Drop file or start writing..." />
            </div>
        </div>
        <f:if condition="{dataCheckOutput}">
            <div class="row mb-3">
                <span>{dataCheckOutput}</span>
            </div>
        </f:if>
        <div class="row">
            <div class="mb-3">
                <div class="form-check">
                    <f:form.checkbox value="true" id="recursive" name="recursive" class="form-check-input" checked="{recursive}" />
                    <label class="form-check-label" for="recursive">
                        Rekursiv anwenden
                    </label>
                </div>
                <div class="form-group mb-2">
                    <label for="max" class="col-sm-3 col-form-label">Maximale rekursive Durchläufe</label>
                    <input type="number" name="max" class="form-control" id="max" placeholder="100" min="1" />
                </div>
                <f:form.submit value="APPLY" class="btn btn-outline-secondary" />
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="output" class="form-label">Output, Runs: {runs}</label>
                <textarea id="output" class="form-control" rows="20" readonly>{output}</textarea>
            </div>
        </div>
    </f:form>
</f:section>
