<f:layout name="Default" />

<f:section name="Content">
    <f:section name="Title">Logs</f:section>
    <p>{pageCount}</p>
    <p><a href="/">Home</a></p>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item {f:if(condition: '{currentPage} == 1', then: 'disabled')}">
                <f:link.action action="log" additionalParams="{page: '{currentPage - 1}'}" additionalAttributes="{class: 'page-link'}">
                    Previous
                </f:link.action>
            </li>
            <f:for each="{pages}" as="page" iteration="iterator">
                <li class="page-item {f:if(condition: '{currentPage} == {iterator.index + 1}', then: 'active')}">
                    <f:link.action action="log" additionalParams="{page: '{iterator.index + 1}'}" additionalAttributes="{class: 'page-link'}">
                        {page}
                    </f:link.action>
                </li>
            </f:for>
            <li class="page-item {f:if(condition: '{currentPage} == {lastPage}', then: 'disabled')}">
                <f:link.action action="log" additionalParams="{page: '{currentPage + 1}'}" additionalAttributes="{class: 'page-link'}">
                    Next
                </f:link.action>
            </li>
        </ul>
    </nav>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th class="col">ID</th>
                <th class="col">Date</th>
                <th class="col">Message</th>
                <th class="col">Data</th>
                <th class="col">Rules</th>
            </tr>
        </thead>
        <tbody>
            <f:for each="{logs}" as="log">
                <tr scope="row">
                    <td>{log.id}</td>
                    <td><f:format.date format="d.m.Y H:i:s">{log.datetime}</f:format.date></td>
                    <td>{log.message}</td>
                    <td>{log.dataInput}</td>
                    <td>{log.ruleInput}</td>
                </tr>
            </f:for>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item {f:if(condition: '{currentPage} == 1', then: 'disabled')}"><a class="page-link" href="#">Previous</a></li>
            <f:for each="{pages}" as="page" iteration="iterator">
                <li class="page-item {f:if(condition: '{currentPage} == {iterator.index + 1}', then: 'active')}">
                    <f:link.action action="log" additionalParams="{page: '{iterator.index + 1}'}" additionalAttributes="{class: 'page-link'}">
                        {page}
                    </f:link.action>
                </li>
            </f:for>
            <li class="page-item {f:if(condition: '{currentPage} == {lastPage}', then: 'disabled')}"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</f:section>
